include README.rst
include LICENSE
include CHANGES.rst
include .coveragerc
include AUTHORS
include INSTALL
include TODO
include babel.cfg
include nose2.cfg
include tox.ini
include .travis.yml
include *.txt
include .isort.cfg


exclude .nti_cover_package

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile

recursive-include src *.zcml
recursive-include src *.plugin

# added by check_manifest.py
recursive-include src *.ico
recursive-include src *.jpg
recursive-include src *.meta
recursive-include src *.png
recursive-include src *.pt
recursive-include src *.py
recursive-include src *.rst
recursive-include src *.theme
recursive-include src *.tmpl
recursive-include src *.txt

recursive-exclude src/nti/nikola_chameleon/tests/testsite/cache *
exclude src/nti/nikola_chameleon/tests/testsite/plugins/__init__.py
